@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
* {margin: 0; padding: 0; outline: 0;}

html{
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  background-color: #f9f9f9;
  font-size: 12px;
  vertical-align: center;
  height: 100%;
}

td{
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.3em;
  text-align: left;
}

#content{
  margin-top: 70px;
  overflow: hidden;
  font-size: 14px;
}

#carousel-home{
  position: absolute;
  left: 0;
  right:0;
  overflow: hidden;
}

div.item{
  height: 500px;
  background-size: cover;
}

.home{
  height:500px;
  background-color: #222;
  color: #fff;
  text-align: center;
  font-size: 2em;
}

.gallery, .contact, .service, .download, .faq{
  padding: 3em 1em 3em 1em;
  min-height:200px;
  background-color: #ffffff;
  text-align: center;
}

.bluebox, .graybox{
  height: 40px;
  width: 40px;
  margin-top: 15px;
  color: #fff;
  font-size: 16px;
}

.bluebox
{
  background-color: #547cbb;
}

.graybox{
  background-color: #6b6b6b;
}

.bluebox a, .graybox a{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 15px;
  color: #fff;
}

li.collapse-link{
  display: none;
}

.section-header{
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
}

.service-header{
  font-size:4em;
}

.service-title{
  font-size:1.2em; 
  font-weight:700;
}

.home-image-box{
  width:100%;
  height: 400px;
  background: url('../img/imagebox.jpg') no-repeat top;
  background-size: cover;
}

.gallery-image-box{
  width:100%;
  padding: 0;
}

.gallery-image{
  height: 200px;
  overflow: hidden;
  text-align: center;
  background-color: #262626;
}

.gallery-image img{
  width: 100%;
  opacity: 0.2;
  height: auto;
}

.gallery-image img:hover{
  opacity: 1;
}

.gallery-image:hover img{
  opacity: 1;
}

.gallery-image:nth-child(odd)
{
  background-color: #242424;
}

.gallery-image-caption{
  position: absolute;
  font-size: 2em;
  color:#fff;
  top:40%;
  left:0;
  right: 0;
  text-align: center;
}

#imagelightbox
{
    position: fixed;
    z-index: 9999;
 
    -ms-touch-action: none;
    touch-action: none;
}

.download-title{
  font-size: 1.2em;
  font-weight: 400;
}

.download-image-box{
  width: 100%;
  padding: 0;
  text-align: center;
}

.download-image{
  max-height: 600px;
  overflow: hidden;
  text-align: center;
  background-color: #262626;
}

.download-image img{
  width: 100%;
  opacity: 1;
  height: auto;
}

.download-image img:hover{
  opacity: 0.2;
}

.download-image:hover img{
  opacity: 0.2;
}

.download-image-caption{
  position: absolute;
  z-index: 4;
  font-size: 3em;
  color:#fff;
  top: 20%;
  left:0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.nexa-regular{
  font-family: 'Nexa Regular', sans-serif;
}

.nexa-bold{
  font-family: 'Nexa Bold', sans-serif;
}

.nexa-light{
  font-family: 'Nexa Light', sans-serif;
}

.panel-heading{
  text-align: left;
  cursor: pointer;
}

.panel-heading i{
  float: right;
  padding-top: 2px;
}

.panel-default{
  border: none;
}

.footer{
  width:100%;
  height: 150px;
  line-height: 150px;
  background-color: #444;
  color: #fff;
  font-size: 1.5em;
  text-align: center;
  vertical-align: middle;
  box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);

}

@media (min-width: 768px) {
    .navbar{
      padding-left: 5%;
      padding-right: 5%;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-inner {
      min-height: 0px;
    }

    .navbar-brand,
    .navbar-nav li a {
        line-height: 70px;
        height: 70px;
        padding-top: 0;
    }

    #navbar
    {
      position: relative;
      left: -50px;
    }

    
}

@media(max-width: 1024px){
  .download-image-caption{
    font-size: 2em;
  }
}

@media (max-width: 767px) {
  #content{
    margin-top: 50px;
  }

  .bluebox, .graybox{
    display: none;
  }

  li.collapse-link{
    display: block;
  }

  .service-header{
    font-size: 2em;
  }

  .mobile-hidden{
    display: none;
  }

  td{
    font-size: 1em;
  }

  #imagelightbox-close
  {
    top: 1.25em; /* 20 */
    right: 1.25em; /* 20 */
  }

  .download-image-caption{
    font-size: 2em;
  }
}

@media (max-width: 360px) {
  .footer{
    font-size: 1em;
  }

  .download-image-caption{
    font-size: 1.5em;
  }
}